.App-Features {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Features h2 {
  width: 50vw;
  text-align: left;
  margin: 1rem 0;
  font-size: 2rem;
}

.App-Features p {
  width: 50vw;
  text-align: left;
}

.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50vw;
}

.feature {
  border: 1px solid black;
  width: 20%;
  margin: 2rem 0.2rem;

}
