.App-Details {
 width: 70%;

}

.details-info {
  text-align: left
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}