.App-Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-Home h1 {
    color: rgba(255, 255, 255, 0.808);
    font-weight: 300;
    font-size: 5rem;
}

.App-Home a {
    color: rgb(181, 72, 68);
    text-decoration: none;
    margin: 1rem;
    font-weight: 300;
    font-size: 2rem;
  }