.App-HowTo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  min-width: 320px;
  min-height: 95vh;

}

.How-To-Wrapper {
  background-color: rgb(128, 126, 126);
}


.How-To-item{
  width: 30vw;
  min-width: 250px;
}

.How-To-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(46, 106, 92);
  /* background-image: url("https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  background-size: center;
  background-repeat: no-repeat;

}

.item-one {
  background-color: #DDF8E8;
  color: #424242
}

.item-two {
  background-color: #CDD5D1;
  color: #504f4f
}

.item-three {
  background-color: #B4A6AB;
  color: #525050
}

.item-four {
  background-color: #946E83;
  color: #b8b6b6
}

.item-five {
  background-color: #615055;
  color: #cecbcb
}
