.App-Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Login h2 {
  margin: 1rem;
  color: rgba(255, 255, 255, 0.808);
}

.App-Login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.507);
  border: 1px solid black;
}

.App-Login input {
  width: 15vw;
  height: 30px;
  margin: 1rem 1rem;
  padding: 0 0.4rem;
}

.App-Login a {
  color: rgb(160, 181, 68);
  text-decoration: none;
  margin: 0.5rem;
}