.App-Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Login h2 {
  margin: 1rem;
  color: rgba(255, 255, 255, 0.808);
}

.App-Login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 5px;
  padding: 1rem;
}

.App-Login input {
  height: 28px;
  margin: 0.5rem 0;
  border: 1px solid darkgray;
  padding: 0 0.5rem;
}
/* 
.Submit-btn {
  height: 28px;
  width: 100%;
  margin-top: 1rem;
  background-color: yellow;
  border: none;
  border: 1px solid darkgray;
} */

/* .Submit-btn :hover {
  background-color: rgb(163, 163, 0);
} */

.App-Login a {
  color: rgb(160, 181, 68);
  text-decoration: none;
  margin: 0.5rem;
}
