@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');


.App-MainLayout {
    min-height: 100vh;
    background-color: rgb(214, 213, 213);
    font-family: Crimson;
}

.App-MainLayout p, ul, h4 {
    font-family: Roboto;
    font-size: 1rem;
}