.App-Process {
  height: 96vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  height: 96vh;
  width: 20vw;
  border: 1px solid green;
}

.main-tab {
    height: 96vh;
    width: 80vw;
    border: 1px solid red;
}