.App-Profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  min-width: 200px; 
}

.App-Profile img {
  width: 150px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.info-container {
}



