.App-Task {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  /* border: 2px solid green; */
}

.placeholder-div {
  width: 30%;
  height: 100%;
}

.process-description {
  width: 30%;
  height: 100%;
}

.process-form {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}

.process-form input {
  height: 28px;
  width: 100%;
  border: 1px solid darkgray;
}

.Submit-btn {
  height: 28px;
  width: 100%;
  margin-top: 1rem;
  background-color: yellow;
  border: none;
  border: 1px solid darkgray;
}

.Submit-btn:hover {
  background-color: rgb(229, 255, 0);
}

.bottom-bar {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-top: 3px solid #2E7982;
  background-color: rgb(224, 222, 222);
}

.bottom-left {
  width: 30%;
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgba(46, 122, 130, 0.144);
  overflow-y: scroll;
}

.bottom-middle {
  width: 30%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.bottom-right {
  width: 30%;
  height: 100%;
  border: 1px solid rgb(255, 74, 104);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.labels {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted red; */
  margin: 1rem;
}

.languages {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted red; */
  margin: 1rem;
}

.label-item {
  border-top: 1px dashed rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin: 0.5rem 0;
}

.language-item {
  border-top: 1px dashed rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0.5rem 0;
}
